.nav-color , .page-footer{
    background-color: #607d8b;
}
.abogado{
    height: 500px;
    width: 700px;
}
.imagen-abogado{
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
}